.news__header {
  margin: 67px 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #2196F3;
}

.news__wrapper {
  max-width: 1200px;
  padding: 0 150px;
  margin: 0 auto 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__list {
  @include resetList();
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news__item {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  background: #FBFBFB;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  &:not(:nth-of-type(3)) {
    margin-right: 30px;
  }
}

.news__item-date {
  margin: 11px 0 0;
  font-size: 14px;
  color: #919191;
}

.news__item-body {
  margin: 7px 0 11px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  max-width: 270px;
}

.news__item-link {
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin-top: auto;
  margin-bottom: 10px;
}

.news__more {
  width: 300px;
}
