.page-header__title-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px 20px;
  display: flex;
  align-items: center;
}

.page-header__title {
  margin: 0;
  padding-top: 25px;
  padding-left: 73px;
  font-weight: normal;
  color: #2196F3;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  text-decoration: none;

  & span {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo {
  fill: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-header__languages-list {
  @include resetList();
  margin-top: 25px;
  display: flex;
  height: 20px;
  margin-left: auto;
}

.page-header__languages-item {
  padding: 0;
  margin: 0 15px 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &:first-child {
    border: 1px solid #DADADA;
  }

  &--current {
    margin-right: 20px;
    transform: scale(1.4);
  }
}

.page-header__nav {
  background-color: #2196F3;
  padding: 0 50px;
  border-radius: 30px 30px 0 0;
}

.page-header__nav-list {
  @include resetList();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header__nav-item {
  &:not(:last-of-type) {
    padding-right: 25px;
  }
}

.page-header__nav-link {
  display: block;
  padding: 31px 0;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: white;
  transition-duration: 0.1s;

  &:hover {
    opacity: 0.6;
    transition-duration: 0.1s;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    padding-bottom: 7px;
    border-bottom: 2px solid white;
  }

  &--current:hover {
    opacity: 1;
    cursor: default;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    opacity: 0.3;
    cursor: default;
  }
}
