.promo {
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 520px;
  position: relative;
  overflow: scroll;
  transition: background 0.1s linear;


  & .btn-1 {
    left: 100px;
  }

  & .btn-2 {
    left: 200px;
  }

  & ul {
    overflow: scroll;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 520px;
    width: 200%;
    transition: transform 0.8s ease;
    //transform: translate(100px);
  }

  & ul li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    height: 100%;
    background: #cccccc;
    text-align: center;
    //background-size: cover;
  }
}
